header {
    min-height: 60px;
    padding: 20px 10px;

    .logo-link {
        float: left;

        img {
            width: 150px;
            height: 60px;
        }
    }

    .nav {
        float: right;
        left: 80px;
    }

    .nav-list-item {
        display: inline-block;
        padding: 20px  10px ;
        a {
            font-size: 16px;
            line-height: 1.4;
        }
    }
}
